* {
    margin: 0;
}

.container {
    width: 100%;
    margin: auto
}

header {
    display: flex;
    justify-content: space-between;
    background-color: orange;
    color: black;
    padding: 10px;
}

li {
    display: inline-block;
    font-size: 20px;
    padding: 5px;
}

* {
    margin: 0;
}

.container {
    width: 100%;
    margin: auto
}

header {
    display: flex;
    justify-content: space-between;
    background-color: orange;
    color: white;
    padding: 10px;
}

header li {
    display: inline-block;
    font-size: 20px;
    padding: 5px;
}

header a{
    text-decoration: none;
}

.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.box {
    width: 500px;
    padding: 30px;
}

.btn-signup{
    background-color: orange;
    margin-top: 10px;
    padding:7px;
    font-size: 20px;
    border-radius: 10px;
    border:none;
}

.summary {
    font-size: 20px;
    margin-top: 10px;
}

.image {
    border-radius: 50px;
}

.title {
    font-size: 30px;
}
<section class="projects-section">
  <h2>Projects</h2>
  <div class="projects-container">
    <div class="project-card">
      <h3>Project 1</h3>
      <p>Some description to the project. Some description of the project</p>
      <button class="demo-btn">View Demo</button>
    </div>
    <div class="project-card">
      <!-- Empty Project Box -->
    </div>
    <div class="project-card">
      <!-- Empty Project Box -->
    </div>
  </div>
</section>